@media only screen and (min-device-width: 737px) {
    body {
        font-family: 'Roboto', 'Open Sans', 'Lato', 'Helvetica Neue', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
        padding: 0;
        margin: 0;
        background-color: #FFF;
        display: block;
        color: #000;
    }

    /* HEADINGS */
    h1 {
        font-size: 2em;
        font-weight: 300;
        font-style: normal;
    }
    h2 {
        font-size: 1.2em;
        font-weight: 700;
    }
    div {
        overflow: auto;
    }

    /* CONTAINER STYLING */
    .container {
        clear: both;
        width: 65%;
        min-width: 460px;
        margin: 0 auto 0 auto;
        /* margin-bottom: 20px; */
        overflow: auto;
    }
    .sub-container {
        margin: 15px 0;
        padding: 15px 0;
        width: auto;
        height: auto;
        clear: both;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.1);
    }
    .sub-container-div {
        margin-bottom: 35px;
    }
    .last-container {
        border-bottom: none;
    } 

    /* HEADER */
    .header {
        overflow: auto;
        padding: 50px 75px 0 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-right {
        text-align: center;
    }
    .logo {
        max-width: 280px;
        margin: 0px auto 0px auto;
        width: 254px;
        height: 141px;
        background-image: url("../images/logo-350x194.png");
        background-size: 254px 141px;
        background-repeat: no-repeat;
    }

    /* SOCIAL */
    .social-icon {
        height: 48px;
        width: 48px;
        fill: #b1b1b1;
    }
    .social-icon:hover {
        fill: #4CAF50;
    }
    .social-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .separator {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgba(0, 0, 0, 0.1);
        height: 70px;
        width: auto;
    }
    .social-image {
        display: block;
        padding: 10px;
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
        background-origin: content-box;
    }
    .facebook, .google {
        background-repeat: no-repeat;        
    }
    .facebook {
        background-image: url('../images/facebook-100x100.jpg');
    }
    .google {
        background-image: url('../images/google-100x100.jpg');
    }

    /* FOOTER */
    .footer {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    /* LINK STYLING */
    a:link {
        color: #4CAF50;
        text-decoration: none;
    }
    a:visited {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #666600;
    }
    a:active {
        color: #000;
    }
    .call {
        font-size: 2em;
        text-align: center;
    }
    .number {
        color: #FFFF00;
    }

    /* GOOGLE MAP */
    .google-map-div {
        clear: both;
    }
    .google-map {
        width: 100%;
        height: 350px;
        border: none;
    }

    /* HOURS/FB CONTAINER */
    .hours-fb-container {
        display: flex;
        flex-direction: row-reverse;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
    }
    .hours {
        margin-right: 100px;
    }
    .hours table {
        width: 200px;
    }
    .hours th {
        text-align: right;
        padding-right: 15px;
    }
    
    /* MOBILE CALL BUTTOn */
    .mobile-phone {
        display: none; 
    }
}