@media only screen and (max-device-width: 736px) {
    /*MOBILE*/
    body {
        font-family: 'Roboto', 'Open Sans', 'Lato', 'Helvetica Neue', sans-serif;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5;
        background-color: #FFF;
        margin: 0;
        padding: 0;
        color: #000;
    }
    .header {
        display: flex;
        padding: 10px 10px 0 10px;
        text-align: center;
        overflow: auto;
        flex-direction: column;
    }
    .logo {
        max-width: 200px;
        margin: 0px auto 0px auto;
        width: 200px;
        height: 110px;
        background-image: url("../images/logo-350x194.png");
        background-repeat: no-repeat;
        background-size: 200px 110px;
    }
    .mobile-title {
        display: block;
    }
    .sub-container {
        padding: 10px 20px 40px 20px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.1);
    }
    .sub-container-div {
        margin-bottom: 30px;
    }
    .call {
        font-size: 1.5em;
        text-align: center;
    }
    .number {
        color: #4CAF50;
    }

    /* FOOTER */
    .footer {
        margin-bottom: 55px;
        padding: 10px 0 10px 0;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-icon {
        height: 24px;
        width: 24px;
        margin-left: 5px;
        overflow: hidden;
    }
    .footer-icon-link {
        height: 24px;
        width: 24px;
        display: inline-block;
    }
    .octicon {
        width: 24px;
        height: 24px;
        fill: #c6cbd1;
    }
    .octicon:hover {
        fill: #959da5;
    }

    .facebook,
    .google {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        float: left;
    }
    a:link {
        color: #4CAF50;
        text-decoration: none;
    }
    a:visited {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #4CAF50;
        text-decoration: underline;
    }
    a:active {
        color: #fb0e02;
    }
    .mobile-phone {
        background-color: #4CAF50;
        clear: both;
        width: 100%;
        position: fixed;
        bottom: 0px;
        height: 55px;
        padding: 0;
    }
    .mobile-phone a {
        padding: 15px 0 15px 0;
        display: block;
    }
    .mobile-phone svg {
        width: 24px;
        height: 24px;
        margin: auto;
        display: block;
        background-size: 24px 24px;
        fill: #FFF;
        background-repeat: no-repeat;
    }
    .desktop-phone, .facebook-frame {
        display: none;
    }
    .hours-table {
        display: flex;
        justify-content: center;
    }
    .hours th {
        text-align: right;
        padding-right: 20px;
    }
    .google-map{
        width: 100%;
        height: 300px;
    }
    .social-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-icon {
        height: 48px;
        width: 48px;
        fill: #b1b1b1;
    }
    .social-image {
        width: 48px;
        height: 48px;
        padding: 10px;
        display: inline-block;
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    .facebook {
        background-image: url('../images/facebook-100x100.jpg');
    }
    .google {
        background-image: url('../images/google-100x100.jpg');
    }
}