/* GLOBAL STYLING */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i|Raleway');

// COLOURS
    // desktop
    $bg-color: #FFFFFF;
    $font-color: #212121;
    $faded-font-color: #bdc3c7;

    // mobile
    $mobile-bg-color: #27ae60;


// HEADINGS
$heading-font: 'Raleway', sans-serif;
$heading-font-weight: 400;

// Content
$content-font: 'Helvetica Neue', 'Source Sans Pro', sans-serif;
$content-font-weight: 300;


// Header
$desktop-header-img: url('../images/header-desktop.jpg');
$mobile-header-img: url('../images/header-mobile.jpg');



@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
:root {
    font-size: 1rem;
}
html {
    margin: 0;
    padding: 0;
}
body {
    @extend html;
    font-family: $content-font;
    font-size: 1rem;
    font-weight: $content-font-weight;
    line-height: 1.5;
    background-color: $bg-color;
    color: $font-color;
    -webkit-animation: fadein 1s ease-out;
            animation: fadein 1s ease-out;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: $content-font-weight;
    font-family: $heading-font;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: -5em;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes header-heading-fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        right: -5em;
    }
    100% {
        opacity: 1;
    }
}

@keyframes header-heading-fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        right: -5em;
    }
    100% {
        opacity: 1;
    }
}

iframe {
    border: none;
}

/* DESKTOP STYLING */
$responsive-breakpoint: 737px;
@media only screen and (min-device-width: $responsive-breakpoint) {
    /* HEADINGS */
    h1 {
        font-size: 2em;
        font-weight: 500;
        /* font-style: normal; */
    }
    h2 {
        font-size: 1.2em;
        font-weight: 700;
    }
    div {
        overflow: auto;
    }
    /* CONTAINER STYLING */
    .container {
        clear: both;
        width: 65%;
        min-width: 460px;
        margin: 0 auto;
        /* margin-bottom: 20px; */
        overflow: auto;
    }
    .sub-container {
        margin: 1em 0;
        padding: 1em 0;
        width: auto;
        height: auto;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.1);
    }
    .sub-container-div {
        margin-bottom: 2em;
    }
    .last-container {
        border-bottom: none;
    }
    /* HEADER */
    .header {
        margin: 0 auto;
        text-align: center;
        height: 50%;
        color: #ffffff;
        background-size: cover;
        background-image: $desktop-header-img;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }
    .header-container {
        @include flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        -webkit-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .header-container:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    .header-heading {
        width: 100%;
        padding: 6em 0;
        text-transform: uppercase;
        -webkit-animation: header-heading-fadein 2s ease;
                animation: header-heading-fadein 2s ease;
    }
    .header-heading h1 {
        font-size: 4em;
    }
    .content-button {
        margin-top: -1em;
        height: auto;
        text-align: center;
    }
    .content-button a {
        background-color: #ffffff;
        display: inline-block;
        padding: 0.5em;
        border-radius: 100%;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }
    .content-button svg {
        display: block;
        stroke-width: 1;
    }
    .text-center {
        text-align: center;
    }
    .brands {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .services {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .flex-div {
        @include flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .logo {
        margin: 0 auto;
        width: 20em;
    }
    .logo-container {
        width: 20em;
        margin: 0 auto;
        text-align: center;
    }
    /* SOCIAL */
    .social-icon {
        height: 2em;
        width: 2em;
        fill: $faded-font-color;
        vertical-align: bottom;
    }
    .social-icon:hover {
        fill: #4CAF50;
    }
    .social-div {
        @include flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .separator {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgba(0, 0, 0, 0.1);
        height: 70px;
        width: auto;
    }
    .social-link {
        display: block;
        margin: 1em;
        width: 2em;
        height: 2em;
    }
    .facebook,
    .google {
        background-repeat: no-repeat;
    }
    .facebook {
        background-image: url('../images/facebook-100x100.jpg');
    }
    .google {
        background-image: url('../images/google-100x100.jpg');
    }
    /* FOOTER */
    .footer {
        color: $faded-font-color;
        fill: $faded-font-color;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: color 1s;
    }
    .footer:hover {
        color: #959da5;
    }
    /* LINK STYLING */
    a {
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
    a:link {
        color: #4CAF50;
        text-decoration: none;
    }
    a:visited {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #666600;
    }
    a:active {
        color: #000000;
    }
    .call {
        font-size: 2em;
        text-align: center;
    }
    /* GOOGLE MAP */
    .google-map-div {
        width: 100%;
        height: auto;
    }
    .google-map {
        width: 100%;
        height: 20em;
        border: none;
    }
    .hours table {
        width: auto;
        margin: 0 auto
    }
    .hours th {
        text-align: right;
        padding-right: 1em;
    }
    /* MOBILE CALL BUTTOn */
    .mobile-phone {
        display: none;
    }
}

/* MOBILE STYLING */
$mobile-breakpoint: $responsive-breakpoint;
@media only screen and (max-device-width: $mobile-breakpoint) {
    /*MOBILE*/
    .header {
        color: #fff;
        text-align: center;
        overflow: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-size: cover;
        background-image: $mobile-header-img;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }
    .header-container {
        @include flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        -webkit-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .header-heading {
        padding: 50px 10px;
        text-transform: uppercase;
        -webkit-animation: header-heading-fadein 2s ease;
                animation: header-heading-fadein 2s ease;        
    }
    .header-heading h1 {
        font-size: 3em;
    }
    .content-button {
        margin-top: -1.25em;
        height: auto;
        text-align: center;
    }
    .content-button a {
        background-color: #fff;
        display: inline-block;
        padding: 0.5em;
        border-radius: 100%;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }
    .content-button svg {
        height: 1.5em;
        width: 1.5em;
        display: block;
        stroke-width: 1;
    }
    .logo {
        margin: 0px auto 0px auto;
        width: 60%;
        max-width: 300px;
    }
    .logo-container {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .mobile-title {
        display: block;
    }
    .sub-container {
        padding: 20px 20px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.1);
    }
    .sub-container-div {
        margin-bottom: 30px;
    }
    .call {
        font-size: 1.5em;
        text-align: center;
    }
    .number {
        color: #4CAF50;
    }
    /* FOOTER */
    .footer {
        color: #bdc3c7;
        fill: #bdc3c7;
        margin-bottom: 104px;
        padding: 16px 16px;
        text-align: center;
        font-weight: 300;
        height: auto;
    }
    .footer-text {
        margin: 0;
    }
    .footer-icon-link {
        margin-left: 5px;
        vertical-align: bottom;
    }
    .footer-icon {
        height: 24px;
        width: 24px;
        overflow: hidden;
        vertical-align: text-bottom;
        fill: #bdc3c7;
    }
    .footer-icon:hover {
        fill: #959da5;
    }
    .facebook,
    .google {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        float: left;
    }
    a:link {
        color: #4CAF50;
        text-decoration: none;
    }
    a:visited {
        color: #4CAF50;
        text-decoration: none;
    }
    a:hover,
    a:focus {
        color: #4CAF50;
        text-decoration: underline;
    }
    a:active {
        color: #fb0e02;
    }
    .mobile-phone {
        /* width: 100%; */
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0;
    }
    .mobile-phone a {
        padding: 20px;
        margin: 20px;
        display: block;
        background-color: $mobile-bg-color;
        border-radius: 50px;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        -webkit-animation: mobile-phone-scroll 3s;
                animation: mobile-phone-scroll 3s;
    }
    @-webkit-keyframes mobile-phone-scroll {
        0% {
            margin-right: -75px;
        }
        66% {
            margin-right: -75px;
        }
        100% {
        }
    }
    @keyframes mobile-phone-scroll {
        0% {
            margin-right: -75px;
        }
        66% {
            margin-right: -75px;
        }
        100% {
        }
    }
    svg {
        height: 24px;
        width: 24px;
    }
    .mobile-phone svg {
        margin: auto;
        display: block;
        background-size: 24px 24px;
        fill: #FFF;
        background-repeat: no-repeat;
    }
    .desktop-phone,
    .facebook-frame {
        display: none;
    }
    .hours-table {
        @include flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .hours th {
        text-align: right;
        padding-right: 20px;
    }
    .google-map {
        width: 100%;
        height: 300px;
    }
    .social-div {
        @include flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .social-icon {
        height: 36px;
        width: 36px;
        fill: #b1b1b1;
    }
    .social-link {
        width: 36px;
        height: 36px;
        padding: 10px;
        display: inline-block;
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    .facebook {
        background-image: url('../images/facebook-100x100.jpg');
    }
    .google {
        background-image: url('../images/google-100x100.jpg');
    }
}