@media only screen 
and (max-device-width : 700px) {
body {
  background-color: #fff;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}
#main {
  background-color: #616161; 
}
#logo {
  margin: 20px auto 20px auto;
  width: block;
  width: 600px;
  height: 200px;
  padding: 20px;
  background-image: url("../images/logo2.png");
  display: inline-block;
}

#summary {
  padding: 50px;
}
footer {
  text-align: center;
  background-color: gray;
  border-top: 25px yellow solid;
  font-size: 0.9em;
  padding: 10px;
  background-color: #212121;
}
#slideshow {
  position: relative;
  height: 300px;
  padding: 80px 0 20px 0;
}
#slideshow > div { 
    position: absolute;
    width: 100%;
}
#slideshow div img {
  width: 100%;
}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
.call {
  font-size: 60px;
  text-align: center;
}
.number {
  color: yellow;
}
footer p {
  clear: both;
}
footer {
  margin-bottom: 150px;
}
#social {
  width: 450px;
  height: 210px;
  margin: 0 auto 0 auto;
}
#social article a {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 30px;
}
#map {
display: none;
}
#mobilemap div {
  background-image: url('../images/maps.png');
  width: 175px;
  height: 175px;
  margin: 0 auto;
  background-size: 175px 175px;
}
.facebook, .google {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-size: 150px 150px;
  float: left;
}
.facebook {
  background-image: url('../images/facebook.jpg');
  border-radius: 10px;
}
.google {
  background-image: url('../images/google.jpg');
  border-radius: 10px;
}
#main a:link, #footer a:link {
  color: yellow;
  text-decoration: none;
}
#main a:visited, #footer a:visited {
  color: yellow;
  text-decoration: none;
}
#main a:hover, #main a:focus, #footer a:hover, #footer a:focus {
  color: yellow;
  text-decoration: underline;
}
#main a:active, #footer a:active {
  color: #fb0e02;
}
#phonecall {
  background-color: #4CAF50;
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 150px;
}
#phone {
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 0;
  display: block;
}
#phone svg {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  text-indent: -9999px;
  background-size: 50px 50px;
  fill: #FFF;
  background-repeat: no-repeat;

}
}
@media only screen 
and (min-device-width : 700px) {
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #212121;
  display: block;
  color: #FFF;

}
#container {
  background: url('../images/back.jpg') no-repeat center center fixed;
  padding-bottom: 10px;
}
#main {
  width: 70%;
  min-width: 460px;
  font-size: 1.2em;
  margin: 0 auto 0 auto;
  padding: 20px;
  background-color:rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
#styling {
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff;
}
header article {
  padding: 20px;
}
#logo {
  width: 30%;
  max-width: 280px;
  margin: 0px auto 0px auto;
  width: 254px;
  height: 141px;
  /*padding: 20px;*/
  background-image: url("../images/logo3.png");
}
#slideshow {
  position: relative;
  display: inline-block;
  width: 60%;
  margin: 0 auto 0 auto;
}
#slideshow::after {
  padding-top: 35%; /* percentage of containing block _width_ */
  display: block;
  content: '';
}
#slideshow > div { 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    padding: 20px;
}
#slideshow div img {
  width: 100%;
  height: auto;

}
iframe {
  margin: 0 auto 0 auto;
}
#summary {
  width: 50%;
  min-width: 450px;
  margin: 0 auto 0 auto;
  padding: 30px auto 0 auto;
}
#map {
  width: 100%;
  height: 300px;
}
#social {
  width: 140px;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  height: 70px;
}
#social a {
  width: 50px;
  height: 50px;
}
.facebook, .google {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  float: left;
  margin: 10px;
}
.facebook {
  background-image: url('../images/facebook.jpg');
}
.google {
  background-image: url('../images/google.jpg');
}
.call {
  font-size: 2em;
  text-align: center;
}
.number {
  color: yellow;
}
footer {
  clear:both;
  border-top: 10px #424242 solid;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: #212121;
  bottom: 0;
  height: 100%
}
#section p, footer p {
  clear:both;
  text-align: center;
  margin: 0;
  padding: 10px;
}

a:link {
  color: #4CAF50;
  text-decoration: none;
}
a:visited {
  color: #4CAF50;
  text-decoration: none;
}
a:hover, a:focus {
  color: #4CAF50;
}
a:active {
  color: #81c784;
}
#phone {
  display: none;
}
#mobilemap {
  display: none;
}
}